# SPDX-License-Identifier: BSD-2-Clause

config THEAD_C9XX_PMU
	bool "T-HEAD c9xx M-mode PMU support"
	default n

config THEAD_C9XX_ERRATA
	bool "T-HEAD c9xx errata support"
	default n

config THEAD_C9XX_SMP
	bool "T-HEAD c9xx SMP support"
	default n

config THEAD_64ILP32_ENHANCE
	bool "T-HEAD enhancement for 64ilp32"
	default n
